*{margin: 0;
padding: 0;}

nav{
font-weight: bold;
color: white;    
}


body{ 



}


li{ 
    
display: inline;
margin-left: 3%;



}





ul{
    margin-top: 10%;
    margin-left:80%;



}




body { 
    background-color: rgba(80, 46, 206, 0.438);
    background-color: rgb(15, 13, 39);
    

}

h1 {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 40px ;
    margin: 300px;
    
  }




  p{
      font-weight: bold;
      


  }



  